@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ysabeau Office", sans-serif;
}
.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: #ffffff26;
  z-index: 1205;
}
.header .container-fluid {
  padding-inline: 100px;
}
.active {
  color: #1db2ff !important;
}
.listproprty {
  background: #1db2ff;
  border-radius: 40px;
  padding: 0px 10px;
}
.listproprty > .nav-link {
  color: white;
}
.listproprty > .nav-link:hover {
  color: white !important;
}

.nav-link:hover {
  color: #1db2ff;
}
.nav-link {
  color: white;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 1px 0px 2px 0px gray;
}

.fixed .nav-link {
  color: black;
}
.fixed .cd {
  color: white;
}
@media (min-width: 240px) and (max-width: 992px) {
  .header .container-fluid {
    padding-inline: 30px;
  }
  .header .navbar {
    backdrop-filter: blur(5px);
  }
}
@media (width: 1024px) {
  .header .container-fluid {
    padding-inline: 100px;
  }
}

/*banner section*/
.banner {
  position: relative;
  background: url("https://bsaurabh093.github.io/VacationRental/img/banner.jpg");
  background-size: 112.5rem 100%;
  min-height: 100dvh;
  overflow: hidden;
  background-repeat: no-repeat;
}
.banner .container-fluid {
  margin: 0;
  padding: 0;
  min-height: 90dvh;
  padding-inline: 95px 100px;
}

.banner .row {
  min-height: 90dvh;
  align-items: center;
}

.banner .banner-heading {
  width: 110%;
  z-index: 2;
  position: relative;
}
.banner .banner-heading h1 {
  font-size: clamp(2rem, 5vw, 6rem);
  line-height: 130px;
  color: white;
  text-shadow: 1px 1px 4px #303030;
  font-weight: 500;
  margin-top: 75px;
  font-family: "Roboto", sans-serif;
}
.banner .container-fluid .row .banner-heading h1 span {
  color: #19b1ff;
  font-family: "Roboto", sans-serif;
}
.banner .container-fluid .row .outer {
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  width: 550px;
  z-index: 2;
  margin-top: 8.5rem;
  margin-left: 6.5rem;
  animation: animate 1s;
}
.outer:before {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  display: block;
  border-style: dotted;
  border-color: #1db2ff;
  position: absolute;
  z-index: 0;
  left: 15px;
  top: 15px;
  border-radius: 10px;
  border-width: 2px;
}
/* .banner .container-fluid .inner-form {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  height: 100%;
  border: 1px dotted #19b1ff;
  position: relative;
  z-index: 2;
  width: 100%;
} */
.banner .container-fluid .inner-form h3 {
  margin-bottom: 50px;
  color: #1db2ff;
  font-weight: bold;
  position: relative;
  left: 12px;
}
.banner .container-fluid .inner-form h3::before {
  position: absolute;
  content: "";
  left: -10px;
  top: 8px;
  width: 3px;
  height: 83%;
  background-color: #1db2ff;
}
.inner-form .input-section {
  position: relative;
  margin: 20px 0;
  height: 50px;
  display: block;
}
.inner-form .input-section i {
  position: absolute;
  right: 5px;
  z-index: 2;
  top: 3px;
  padding: 12px;
  border-radius: 5px;
  color: white;
  background-color: #1db2ff;
  width: 2.6rem;
  box-sizing: border-box;
}
.inner-form .input-section label {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 230px;
  font-size: 18px;
  cursor: text;
}
.inner-form .input-section input {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 1px solid #dadce0;
  padding: 13px 15px;
  transition: 250ms;
}
.date {
  position: relative;
}
.inner-form > .prop-vw {
  width: 100%;
  color: white;
  background: #1db2ff;
  border: none;
  height: 50px;
  bottom: 10%;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes animate {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@media (min-width: 240px) and (max-width: 992px) {
  .banner .row {
    padding: 0;
  }
  .banner .container-fluid {
    padding-inline: 20px;
  }
  .banner .container-fluid .row .outer {
    width: 100%;
  }
  .banner .banner-heading h1 {
    line-height: 50px;
    line-height: 1.5;
  }
  .banner .container-fluid .row .outer {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media (width: 375px) {
  .banner .container-fluid .row .outer {
    padding: 30px;
    margin-bottom: 40px;
  }
  .banner .banner-heading h1 {
    font-size: 1.5rem;
    line-height: 1.8;
  }
}
@media (max-width: 768px) {
  .banner .banner-heading h1 {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}
@media (width: 768px) {
  .banner .banner-heading h1 {
    margin-left: 0;
    margin-top: 70px;
    font-size: 3.5rem;
    line-height: 1.2;
  }
  .banner .container-fluid .row .outer {
    padding: 30px;
  }
  .banner {
    min-height: 78dvh;
  }
  .banner .container-fluid {
    min-height: 78dvh;
  }
  .banner .row {
    min-height: 78dvh;
  }
}
@media (width: 1024px) {
  .banner {
    min-height: 68dvh;
  }
  .banner .container-fluid {
    min-height: 68dvh;
  }
  .banner .row {
    min-height: 68dvh;
  }
  .banner .container-fluid {
    padding-inline: 100px;
  }
  .banner .banner-heading {
    z-index: 2;
    position: relative;
    right: 80px;
    top: 90px;
  }
  .banner .banner-heading h1 {
    line-height: 1.5;
    width: 50%;
    font-size: 3.5rem;
  }
  .banner .container-fluid .row .outer {
    margin: 0;
    bottom: 14rem;
    left: 22rem;
  }
}

/*property section*/

.property-sec {
  width: 100%;
  padding-inline: 110px;
  margin: 0 auto;
  position: relative;
}

.property-sec h2 {
  font-family: "Noto Serif", serif;
  font-size: 2.2rem;
  margin: 60px 0 40px 0;
  font-weight: 600;
  color: #1db2ff;
  position: relative;
}
.property-sec h2::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 120px;
  height: 3px;
  background-color: #19b1ff;
}
.owl-stage-outer {
  position: relative;
}
.property-sec .item {
  box-shadow: 0px 0px 1px 2px #eee;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  height: 29rem;
}
.property-sec .owl-carousel .item::before {
  position: absolute;
  content: "Featured";
  top: 10px;
  left: 10px;
  background-color: #1db2ff;
  color: white;
  padding: 2px 8px;
  z-index: 55;
  border-radius: 5px;
}
.item:hover .prop-img img {
  scale: 1.2;
}
.property-sec .prop-img {
  height: 54%;
  overflow: hidden;
}
.prop-img img {
  transition: 1s all;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.property-sec .prop-content p {
  font-size: 1.2rem;
}
.property-sec .prop-content p i {
  margin-bottom: 10px;
  color: gray;
  margin-right: 2px;
}
.prop-content {
  padding-left: 20px;
  padding-top: 20px;
  color: black;
  opacity: 90%;
}
.prop-content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}
.prop-content .lst {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.prop-content .lst i {
  color: #1db2ff;
  font-size: 16px;
  border: 1px dashed #1db2ff;
  display: inline;
  width: 42px;
  padding: 5px;
}
.prop-vw {
  width: 95%;
  color: white;
  background: #1db2ff;
  border: none;
  height: 35px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none;
}

.owl-theme .owl-nav {
  position: absolute;
  height: 50px;
  bottom: 105%;
  text-align: end;
  right: 0;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: white;
  color: #1db2ff;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 2.3rem;
  color: #1db2ff;
}
.owl-carousel .owl-nav button.owl-prev :hover,
.owl-carousel .owl-nav button.owl-next :hover {
  color: #1db2ff;
}

@media (width: 375px) {
  .property-sec h2 {
    font-size: 1.2rem !important;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 768px) {
  .property-sec {
    padding-inline: 20px;
  }
  .prop-content {
    padding-left: 10px;
    padding-top: 10px;
  }
  .property-sec h2 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .property-sec .prop-content p {
    font-size: 1rem;
  }
  .property-sec .prop-img {
    height: 42%;
    overflow: hidden;
  }
  .prop-img img {
    height: 150px;
  }
  .property-sec .item {
    height: 21.5rem;
  }
  .property-sec .owl-carousel .item::before {
    padding: 2px 5px;
    font-size: 12px;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    font-size: 2rem;
  }
}
@media (width: 768px) {
  .property-sec .item {
    height: 26.5rem;
  }
  .property-sec h2 {
    font-size: 2rem !important;
  }
  .property-sec .prop-img {
    height: 53%;
  }
  .property-sec .prop-img img {
    height: 100%;
  }
}

@media (width: 1024px) {
  .property-sec {
    padding-inline: 30px;
  }
}
/* button > i {
  color: #1db2ff;
}
.owl-nav .owl-prev {
  position: absolute;
  bottom: 90%;
  border: none;
  font-size: 2rem;
  background: none;
  right: 2.3%;
}

.owl-nav .owl-next {
  position: absolute;
  bottom: 90%;
  border: none;
  font-size: 2rem;
  background: none;
  right: 0%;
} */

/*carding section*/

.carding {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #edf9ff;
}
.carding .container-fluid {
  padding-inline: 100px;
}
.carding .item {
  box-shadow: 0px 0px 1px 2px #eee;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  height: 29.2rem;
}
.carding .prop-content {
  padding-left: 10px;
  padding-top: 8px;
  color: black;
  opacity: 90%;
}
.carding .prop-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 10px;
}
.carding .prop-content .lst {
  list-style: none;
  padding: 0;
}
.carding .prop-content .lst i {
  color: #1db2ff;
  font-size: 16px;
  border: 1px dashed #1db2ff;
  display: inline;
  width: 42px;
  padding: 5px;
}
.carding .prop-img {
  height: 60%;
  overflow: hidden;
}
.carding .item .prop-img {
  height: 255px;
  width: 100%;
}
.carding .prop-content p {
  font-size: 1rem;
}
.carding .prop-content p i {
  margin-bottom: 20px;
  color: gray;
  margin-right: 2px;
}
.carding .prop-content .row .lst i {
  width: 33px;
}
.carding .prop-vw {
  line-height: 2;
}
@media (max-width: 768px) {
  .carding .container-fluid {
    padding-inline: 20px;
  }
  .carding {
    padding-top: 20px;
  }
  .carding .prop-content .lst {
    list-style: none;
    padding: 0;
    width: 50%;
  }
  .carding .item .prop-img {
    height: 150px;
  }
  .carding .item {
    height: 25rem;
  }
  .property-sec h2 {
    font-size: 1.4rem;
  }
  .carding .prop-content p {
    margin-bottom: 5px;
  }
}

@media (max-width: 992px) {
  .carding .container-fluid {
    padding-inline: 20px;
  }
}
@media (width: 1024px) {
  .carding .container-fluid {
    padding-inline: 30px;
  }
}

/*list section*/
.list {
  background: url("https://bsaurabh093.github.io/VacationRental/img/houzez-property-slider.jpg")
    fixed;
  position: relative;
  background-size: cover;
  min-height: 92dvh;
}
.list::before,
.contact::before,
.banner::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 66, 116, 0.45);
}
.list > .container-fluid {
  padding-inline: 100px;
  padding-top: 50px;
}
@media (max-width: 767px) {
  .list .container-fluid {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .list .container-fluid {
    padding-inline: 30px;
  }
}

.list .idea {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #fff;
  position: relative;
}
.list .idea::before {
  position: absolute;
  content: "";
  bottom: -15px;
  width: 120px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}
.list .row {
  z-index: 222;
  position: relative;
  height: 100%;
}
.list .row ul {
  list-style: none;
  padding: 0;
}
.list .row ul li {
  margin-bottom: 20px;
}
.list .row ul li a {
  font-size: clamp(18px, 2vw, 26px);
  color: white;
  text-decoration: none;
}

/*Destination section*/
.Destination {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}
.Destination .container-fluid {
  padding-inline: 100px;
  padding-top: 10px;
}

.destination-heading h2 {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #1db2ff;
  position: relative;
}
.destination-heading h2::before {
  position: absolute;
  content: "";
  bottom: -10px;
  width: 100px;
  height: 3px;
  background-color: #1db2ff;
}
.Destination .destination-half {
  height: 18rem;
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  cursor: pointer;
  transition: 1s all;
}
.dest-cap {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(1deg, black, transparent);
}
.dest-cap h2 {
  color: white;
  font-size: 1.5rem;
}
.dest-three {
  position: relative;
  height: 18rem;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
  margin-bottom: 25px;
}

.col-md-4:hover img,
.col-md-6 :hover img {
  scale: 1.1;
}

@media (max-width: 768px) {
  .Destination .container-fluid {
    padding-inline: 20px;
  }
  .Destination .destination-half,
  .Destination .dest-three {
    height: 11.8rem;
  }
}
@media (max-width: 1024px) {
  .Destination .container-fluid {
    padding-inline: 30px;
  }
  .Destination .destination-half,
  .Destination .dest-three {
    height: 14rem;
  }
}
/*contact section*/

.contact {
  background: url("https://bsaurabh093.github.io/VacationRental/img/contactBg.jpg")
    center fixed;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 73dvh;
}
.contact .container-fluid {
  padding-inline: 20px 100px;
}

.contact .inner-box {
  position: relative;
  z-index: 222;
  margin-block: 60px;
  padding: 30px;
  background: #1db2ff2e;
  backdrop-filter: blur(5px);
  margin-left: 40px;
  border-radius: 10px;
}
.contact h2 {
  color: white;
}
.contact p {
  color: white;
}
@media (max-width: 768px) {
  .contact .container-fluid {
    padding-inline: 20px;
  }
  .contact {
    min-height: 58dvh;
  }
  .contact .inner-box {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .contact .container-fluid {
    padding-inline: 30px;
  }
  .contact .inner-box {
    margin-block: 40px;
  }
}
/*vacation section*/
.vacation {
  background: linear-gradient(#065e80, #0b8ebf);
  padding: 40px 0;
  position: relative;
}
.vacation::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00000087;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.vacation .container-fluid {
  padding-inline: 70px;
  display: flex;
  flex-wrap: wrap;
  margin-block: 10px;
  gap: 80px;
  padding-block: 10px;
}

.vacation .container-fluid ul {
  list-style: none;
  color: white;
}
.vacation ul .title {
  font-size: 24px;
  margin-bottom: 20px;
}
.vacation ul li {
  font-size: 18px;
  margin-block: 4px;
  position: relative;
}
.vacation ul li a {
  color: white;
  text-decoration: none;
}
.vacation ul .title a i {
  margin-right: 5px;
  font-size: 1.2rem;
}

.vacation ul li a i {
  margin-right: 10px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .vacation {
    padding: 1px 0;
  }
  .vacation .container-fluid {
    padding-inline: 0;
    gap: 20px;
  }
  .vacation ul li {
    width: 100%;
  }
}
/*footer section*/
/* footer {
  background: #363636;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}
footer .container-fluid {
  padding-inline: 70px;
}
footer ul {
  list-style: none;
}
footer ul .title {
  font-size: 1.3rem;
  position: relative;
  padding-left: 10px;
  margin-bottom: 10px;
}
footer ul .title ::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  height: 20px;
  width: 1px;
  background-color: white;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a i {
  padding: 0;
}
footer ul li input {
  width: 80%;
  padding-left: 30px;
  height: 45px;
  outline: none;
}
@media (max-width: 480px) {
  footer ul li input {
    width: 60%;
  }
  footer .container-fluid {
    padding-inline: 20px;
  }
}
footer ul li button {
  background: #1db2ff;
  padding: 8.5px 25px;
  color: #fff;
  border: none;
  font-size: 18px;
  position: absolute;
}
footer ul li {
  position: relative;
}

footer ul li i {  
  position: relative;
  padding-right: 10px;
  color: white;
}
.fa-envelope {
  position: absolute;
  left: 10px;
  z-index: 1;
  color: #1db2ff;
  top: 40%;
}
footer .follow {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 10px;
}
.follow_us {
  color: white;
  font-size: 24px;
}
.follow li i {
  border: 1px dashed white;
  position: relative;
  padding: 10px;
}

footer .row:nth-child(2) {
  position: relative;
  text-align: center;
  background-color: #2a2a2a;
  margin-top: 10px;
  height: 55px;
  bottom: 0;
}

footer .row:nth-child(2) h6 {
  color: white;
  margin: 0;
  line-height: 3;
} */

footer {
  padding-top: 10px;
  background: #363636;
  color: #fff;
}
footer .row {
  padding-inline: 80px;
}
.footerColoumn h3 {
  font-size: 1.4rem;
  border-left: 2px solid;
  padding-left: 8px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footerColoumn ul {
  list-style: none;
  padding: 0;
}

.footerColoumn ul li a {
  color: #fff;
  text-decoration: none;
}

.subscriberBox {
  display: flex;
  position: relative;
}

.subscriberBox input {
  padding: 10px;
  flex: 1;
  position: relative;
  padding-left: 45px;
}

.subscriberBox .icon {
  position: absolute;
  left: 14px;
  z-index: 1;
  color: #1db2ff;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
}

.subscriberBox a {
  background: #1db2ff;
  padding: 10px 25px;
  color: #fff;
  border: none;
}

.follow {
  display: flex;
  margin-top: 20px;
}

.follow ul {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.follow ul li {
  padding: 5px;
  border: 1px dashed;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.footerBottom {
  text-align: center;
  background-color: #2a2a2a;
}

.footerBottom .container-fluid {
  padding: 10px 100px;
}

.footerBottom p {
  margin: 0;
}
@media (max-width: 767px) {
  footer .row {
    padding-inline: 10px;
  }
  .footerColoumn {
    margin-top: 20px;
  }
  .subscriberBox {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
  .subscriberBox .icon {
    top: 25px;
  }
  .subscriberBox a {
    padding: 10px 25px;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
  }
  .footerBottom .container-fluid {
    padding: 10px 25px;
  }
}
@media (width: 768px) {
  footer .row {
    padding-inline: 20px;
  }
}

/*media after 1200px*/

@media (min-width: 1200px) and (max-width: 1400px) {
  .banner {
    background-size: cover;
  }
  .banner .container-fluid {
    padding-inline: 20px;
  }
  .banner .banner-heading {
    width: 80%;
  }
  .banner .banner-heading h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 15rem;
    margin-left: 5px;
  }
  .banner .container-fluid .row .outer {
    padding: 40px;
    margin-top: 6.5rem;
    margin-left: 4rem;
    margin-bottom: 4.5rem;
    width: 87%;
  }
  .property-sec {
    padding-inline: 30px;
  }
  .property-sec h2 {
    font-size: 2rem;
  }
  .owl-theme .owl-nav {
    right: -5px;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    font-size: 1.8rem;
  }

  .carding .container-fluid {
    padding-inline: 30px;
  }

  .list .container-fluid {
    padding-top: 30px;
    padding-inline: 30px;
  }

  .Destination .container-fluid {
    padding-inline: 30px;
  }
  .Destination .destination-half,
  .Destination .dest-three {
    height: 13.5rem;
  }

  .contact .container-fluid {
    padding-inline: 30px;
  }

  .vacation .container-fluid {
    padding-inline: 10px;
  }

  footer .row {
    padding-inline: 30px;
  }
}
